@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html {
	/* declare 'variables' here */
}
body {
	margin:0;
}
#header {
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	background-color:#4F47B3;
	color:white;
	width:100%;
	min-height:4em;
	text-align:left;
	display:flex;
	align-items:center;
	justify-content:space-around;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#header>div> h1 {
	z-index:11;
	font-family:"Abril Fatface", "Helvetica Neue", Arial;
}
#header>div> button {
	background-color:unset;
	border:unset;
	color:white;
	font-size:2em;
}
#header>div> input {
	width:unset;
}
#header-margin {
	margin-top:16em;
}

.items-rectangle {
	width:100%;
	height:fit-content;
	display:flex;
	justify-content:space-around;
}
/* I looked at some bootstrap samples, and I decided to try copy them */
.item {
	display:inline-flex;
	width:20%;
	height:30%;
	border-bottom:1px solid #4F47B3;
	flex-direction:column;
	align-items:center;
}
.item:hover {
	/* insert animation style */
}
.item> img {
	max-width:100%;
	max-height:300px;
}
.item> .caption {
	color:#999999;
	font-size:.8em;
	text-align:right;
}
.item> span {
	display:inline-block;
	width:fit-content;
}
.item> .stats {
/* information like seller, reputation/risk/reviews, price */
}
/* maybe combine with the one below */
.item> .actions {
	height:2em;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
/* I just had a better idea for item-actions. Have them appear when you hover over an item, and also a like/dislike button on the right side. */
/* Maybe do a single tap to see item-actions on mobile and a double tap to view an item on mobile. */
/* The see_similar action could show a menu which allows sorting */
.item> .actions, .item>.actions> div {
	height:0;
	visibility:hidden;
}
.item:hover> .actions, .item:hover>.actions> div {
	height:2em;
	visibility:visible;
}