@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
html, body, .black, .black-things {
	width:100%;
	min-height:100%;
	margin:0;
	padding:0;
}
.black {
	position:absolute;
	top:0;
	background-color:black;
	z-index:0;
}
.circle {
	background-color:white;
	border-radius:100%;
	width:3em;
	height:3em;
	z-index:1;
	position:absolute;
}
.black-things {
	position:fixed;
	z-index:5;
}
h1 {
	font-family:'Antic Slab', Arial;
	text-align:center;
	/* border-bottom:1px solid white; */
	margin-bottom:0;
}
p {
	width: 50%;
	/* border-right:1px solid white; */
	margin:0;
	padding:3em;
}
button {
	background-color:transparent;
	border: 1px solid black;
	margin:0;
	padding:0;
	position:relative;
}