body {
	background-color:gray;
}
div {
	display:inline-block;
}

.top_quote {
	padding-left:10px;
}
#left_side_bar {
	text-align:center;
}
ul {
	text-align:left;
}
table {
	border-collapse:collapse;
}
th {
	border-right: 1px solid white;
}
td, td > a {
	padding-left:20px;
	color: black;
	font-weight:bold;
}


#right_side_bar {
	right:0px;
	position:absolute;
	width:50px;
}
.dot {
	display:block;
	position:relative;
	color:white;
	font-size:40px;
}
